In [2]:
import pandas as pd

In [3]:
df = pd.read_excel(r"data/Edinburgh-daytime.xlsx",sheet_name='1112')
print(df)

   2011  Sunrise/Sunset      Unnamed: 2 Daylength  Unnamed: 4  \
0   Dec         Sunrise          Sunset    Length  Difference
1   NaN             NaN             NaN       NaN         NaN
2     1  08:18 ↑ (130°)  15:44 ↑ (230°)  07:25:45       −2:37
3     2  08:20 ↑ (130°)  15:43 ↑ (230°)  07:23:13       −2:31
4     3  08:21 ↑ (130°)  15:42 ↑ (229°)  07:20:48       −2:25
5     4  08:23 ↑ (131°)  15:41 ↑ (229°)  07:18:29       −2:18
6     5  08:24 ↑ (131°)  15:41 ↑ (229°)  07:16:17       −2:12
7     6  08:26 ↑ (131°)  15:40 ↑ (229°)  07:14:11       −2:05
8     7  08:27 ↑ (132°)  15:40 ↑ (228°)  07:12:12       −1:58
9     8  08:29 ↑ (132°)  15:39 ↑ (228°)  07:10:20       −1:51
10    9  08:30 ↑ (132°)  15:39 ↑ (228°)  07:08:36       −1:44
11   10  08:31 ↑ (132°)  15:38 ↑ (228°)  07:06:58       −1:37
12   11  08:33 ↑ (133°)  15:38 ↑ (227°)  07:05:28       −1:30
13   12  08:34 ↑ (133°)  15:38 ↑ (227°)  07:04:05       −1:22
14   13  08:35 ↑ (133°)  15:38 ↑ (227°)  07:02:51       −1:14
15   14  08:36 ↑ (133°)  15:38 ↑ (227°)  07:01:43       −1:07
16   15  08:37 ↑ (133°)  15:38 ↑ (227°)  07:00:44       −0:59
17   16  08:38 ↑ (133°)  15:38 ↑ (227°)  06:59:53       −0:50
18   17  08:39 ↑ (133°)  15:38 ↑ (227°)  06:59:10       −0:43
19   18  08:39 ↑ (133°)  15:38 ↑ (227°)  06:58:35       −0:34
20   19  08:40 ↑ (133°)  15:38 ↑ (227°)  06:58:09       −0:26
21   20  08:41 ↑ (134°)  15:39 ↑ (226°)  06:57:50       −0:18
22   21  08:41 ↑ (134°)  15:39 ↑ (226°)  06:57:40       −0:10
23   22  08:42 ↑ (134°)  15:40 ↑ (226°)  06:57:38       −0:01
24   23  08:42 ↑ (134°)  15:40 ↑ (226°)  06:57:45       +0:06
25   24  08:43 ↑ (133°)  15:41 ↑ (227°)  06:58:00       +0:14
26   25  08:43 ↑ (133°)  15:41 ↑ (227°)  06:58:23       +0:23
27   26  08:43 ↑ (133°)  15:42 ↑ (227°)  06:58:54       +0:31
28   27  08:43 ↑ (133°)  15:43 ↑ (227°)  06:59:34       +0:39
29   28  08:44 ↑ (133°)  15:44 ↑ (227°)  07:00:22       +0:47
30   29  08:44 ↑ (133°)  15:45 ↑ (227°)  07:01:18       +0:55
31   30  08:44 ↑ (133°)  15:46 ↑ (227°)  07:02:21       +1:03
32   31  08:43 ↑ (133°)  15:47 ↑ (227°)  07:03:33       +1:11

   Astronomical Twilight Unnamed: 6 Nautical Twilight Unnamed: 8  \
0                  Start        End             Start        End
1                    NaN        NaN               NaN        NaN
2               06:00:00   18:02:00          06:45:00   17:17:00
3               06:02:00   18:01:00          06:46:00   17:16:00
4               06:03:00   18:01:00          06:48:00   17:16:00
5               06:04:00   18:00:00          06:49:00   17:15:00
6               06:05:00   18:00:00          06:50:00   17:15:00
7               06:06:00   18:00:00          06:52:00   17:14:00
8               06:07:00   17:59:00          06:53:00   17:14:00
9               06:09:00   17:59:00          06:54:00   17:14:00
10              06:10:00   17:59:00          06:55:00   17:14:00
11              06:11:00   17:59:00          06:56:00   17:14:00
12              06:12:00   17:59:00          06:57:00   17:13:00
13              06:13:00   17:59:00          06:58:00   17:13:00
14              06:13:00   17:59:00          06:59:00   17:13:00
15              06:14:00   17:59:00          07:00:00   17:14:00
16              06:15:00   17:59:00          07:01:00   17:14:00
17              06:16:00   17:59:00          07:02:00   17:14:00
18              06:17:00   18:00:00          07:02:00   17:14:00
19              06:17:00   18:00:00          07:03:00   17:14:00
20              06:18:00   18:00:00          07:04:00   17:15:00
21              06:19:00   18:01:00          07:04:00   17:15:00
22              06:19:00   18:01:00          07:05:00   17:15:00
23              06:20:00   18:02:00          07:05:00   17:16:00
24              06:20:00   18:02:00          07:06:00   17:17:00
25              06:21:00   18:03:00          07:06:00   17:17:00
26              06:21:00   18:03:00          07:07:00   17:18:00
27              06:21:00   18:04:00          07:07:00   17:19:00
28              06:22:00   18:05:00          07:07:00   17:19:00
29              06:22:00   18:06:00          07:07:00   17:20:00
30              06:22:00   18:06:00          07:08:00   17:21:00
31              06:22:00   18:07:00          07:08:00   17:22:00
32              06:22:00   18:08:00          07:08:00   17:23:00

   Civil Twilight Unnamed: 10     Solar Noon Unnamed: 12
0           Start         End           Time     Mil. km
1             NaN         NaN            NaN         NaN
2        07:33:00    16:29:00  12:01 (12.3°)      147.52
3        07:34:00    16:28:00  12:02 (12.2°)     147.495
4        07:36:00    16:28:00  12:02 (12.0°)     147.471
5        07:37:00    16:27:00  12:02 (11.9°)     147.447
6        07:39:00    16:27:00  12:03 (11.8°)     147.425
7        07:40:00    16:26:00  12:03 (11.6°)     147.403
8        07:41:00    16:26:00  12:04 (11.5°)     147.381
9        07:42:00    16:25:00  12:04 (11.4°)     147.361
10       07:44:00    16:25:00  12:04 (11.3°)     147.342
11       07:45:00    16:25:00  12:05 (11.2°)     147.323
12       07:46:00    16:25:00  12:05 (11.1°)     147.305
13       07:47:00    16:25:00  12:06 (11.1°)     147.288
14       07:48:00    16:25:00  12:06 (11.0°)     147.272
15       07:49:00    16:25:00  12:07 (10.9°)     147.257
16       07:50:00    16:25:00  12:07 (10.9°)     147.243
17       07:51:00    16:25:00  12:08 (10.8°)      147.23
18       07:51:00    16:25:00  12:08 (10.8°)     147.217
19       07:52:00    16:25:00  12:09 (10.7°)     147.205
20       07:53:00    16:26:00  12:09 (10.7°)     147.194
21       07:53:00    16:26:00  12:10 (10.7°)     147.184
22       07:54:00    16:26:00  12:10 (10.7°)     147.174
23       07:55:00    16:27:00  12:11 (10.7°)     147.164
24       07:55:00    16:27:00  12:11 (10.7°)     147.156
25       07:55:00    16:28:00  12:12 (10.7°)     147.147
26       07:56:00    16:29:00  12:12 (10.7°)      147.14
27       07:56:00    16:29:00  12:13 (10.8°)     147.133
28       07:56:00    16:30:00  12:13 (10.8°)     147.126
29       07:56:00    16:31:00  12:14 (10.8°)      147.12
30       07:57:00    16:32:00  12:14 (10.9°)     147.115
31       07:57:00    16:33:00  12:15 (11.0°)      147.11
32       07:57:00    16:34:00  12:15 (11.0°)     147.106

In [ ]:
#Dictionary assigned to a variable called Edinburgh
EDINBURGH_COLUMNS = {
    'date':pd.Timestamp,
    'sunrise': str,
    'sunset': str,
    'daylength': str,
    'day_length_diff': str,
    'astro_twilight_start': str,
    'astro_twilight_end': str,
    'nautical_twilight_start': str,
    'nautical_twilight_end': str,
    'civil_twilight_start': str,
    'civil_twilight_end': str,
    'solar_noon_time': str,
    'solar_noon_distance':float
}

In [ ]:
#Let's reset the index - dropping the second header row, as it's not needed
#Now the row count starts from the actual data

df = df.drop([0, 1], ).reset_index(drop=True)
print(df)

   2011  Sunrise/Sunset      Unnamed: 2 Daylength Unnamed: 4  \
0     1  08:18 ↑ (130°)  15:44 ↑ (230°)  07:25:45      −2:37
1     2  08:20 ↑ (130°)  15:43 ↑ (230°)  07:23:13      −2:31
2     3  08:21 ↑ (130°)  15:42 ↑ (229°)  07:20:48      −2:25
3     4  08:23 ↑ (131°)  15:41 ↑ (229°)  07:18:29      −2:18
4     5  08:24 ↑ (131°)  15:41 ↑ (229°)  07:16:17      −2:12
5     6  08:26 ↑ (131°)  15:40 ↑ (229°)  07:14:11      −2:05
6     7  08:27 ↑ (132°)  15:40 ↑ (228°)  07:12:12      −1:58
7     8  08:29 ↑ (132°)  15:39 ↑ (228°)  07:10:20      −1:51
8     9  08:30 ↑ (132°)  15:39 ↑ (228°)  07:08:36      −1:44
9    10  08:31 ↑ (132°)  15:38 ↑ (228°)  07:06:58      −1:37
10   11  08:33 ↑ (133°)  15:38 ↑ (227°)  07:05:28      −1:30
11   12  08:34 ↑ (133°)  15:38 ↑ (227°)  07:04:05      −1:22
12   13  08:35 ↑ (133°)  15:38 ↑ (227°)  07:02:51      −1:14
13   14  08:36 ↑ (133°)  15:38 ↑ (227°)  07:01:43      −1:07
14   15  08:37 ↑ (133°)  15:38 ↑ (227°)  07:00:44      −0:59
15   16  08:38 ↑ (133°)  15:38 ↑ (227°)  06:59:53      −0:50
16   17  08:39 ↑ (133°)  15:38 ↑ (227°)  06:59:10      −0:43
17   18  08:39 ↑ (133°)  15:38 ↑ (227°)  06:58:35      −0:34
18   19  08:40 ↑ (133°)  15:38 ↑ (227°)  06:58:09      −0:26
19   20  08:41 ↑ (134°)  15:39 ↑ (226°)  06:57:50      −0:18
20   21  08:41 ↑ (134°)  15:39 ↑ (226°)  06:57:40      −0:10
21   22  08:42 ↑ (134°)  15:40 ↑ (226°)  06:57:38      −0:01
22   23  08:42 ↑ (134°)  15:40 ↑ (226°)  06:57:45      +0:06
23   24  08:43 ↑ (133°)  15:41 ↑ (227°)  06:58:00      +0:14
24   25  08:43 ↑ (133°)  15:41 ↑ (227°)  06:58:23      +0:23
25   26  08:43 ↑ (133°)  15:42 ↑ (227°)  06:58:54      +0:31
26   27  08:43 ↑ (133°)  15:43 ↑ (227°)  06:59:34      +0:39
27   28  08:44 ↑ (133°)  15:44 ↑ (227°)  07:00:22      +0:47
28   29  08:44 ↑ (133°)  15:45 ↑ (227°)  07:01:18      +0:55
29   30  08:44 ↑ (133°)  15:46 ↑ (227°)  07:02:21      +1:03
30   31  08:43 ↑ (133°)  15:47 ↑ (227°)  07:03:33      +1:11

   Astronomical Twilight Unnamed: 6 Nautical Twilight Unnamed: 8  \
0               06:00:00   18:02:00          06:45:00   17:17:00
1               06:02:00   18:01:00          06:46:00   17:16:00
2               06:03:00   18:01:00          06:48:00   17:16:00
3               06:04:00   18:00:00          06:49:00   17:15:00
4               06:05:00   18:00:00          06:50:00   17:15:00
5               06:06:00   18:00:00          06:52:00   17:14:00
6               06:07:00   17:59:00          06:53:00   17:14:00
7               06:09:00   17:59:00          06:54:00   17:14:00
8               06:10:00   17:59:00          06:55:00   17:14:00
9               06:11:00   17:59:00          06:56:00   17:14:00
10              06:12:00   17:59:00          06:57:00   17:13:00
11              06:13:00   17:59:00          06:58:00   17:13:00
12              06:13:00   17:59:00          06:59:00   17:13:00
13              06:14:00   17:59:00          07:00:00   17:14:00
14              06:15:00   17:59:00          07:01:00   17:14:00
15              06:16:00   17:59:00          07:02:00   17:14:00
16              06:17:00   18:00:00          07:02:00   17:14:00
17              06:17:00   18:00:00          07:03:00   17:14:00
18              06:18:00   18:00:00          07:04:00   17:15:00
19              06:19:00   18:01:00          07:04:00   17:15:00
20              06:19:00   18:01:00          07:05:00   17:15:00
21              06:20:00   18:02:00          07:05:00   17:16:00
22              06:20:00   18:02:00          07:06:00   17:17:00
23              06:21:00   18:03:00          07:06:00   17:17:00
24              06:21:00   18:03:00          07:07:00   17:18:00
25              06:21:00   18:04:00          07:07:00   17:19:00
26              06:22:00   18:05:00          07:07:00   17:19:00
27              06:22:00   18:06:00          07:07:00   17:20:00
28              06:22:00   18:06:00          07:08:00   17:21:00
29              06:22:00   18:07:00          07:08:00   17:22:00
30              06:22:00   18:08:00          07:08:00   17:23:00

   Civil Twilight Unnamed: 10     Solar Noon Unnamed: 12
0        07:33:00    16:29:00  12:01 (12.3°)      147.52
1        07:34:00    16:28:00  12:02 (12.2°)     147.495
2        07:36:00    16:28:00  12:02 (12.0°)     147.471
3        07:37:00    16:27:00  12:02 (11.9°)     147.447
4        07:39:00    16:27:00  12:03 (11.8°)     147.425
5        07:40:00    16:26:00  12:03 (11.6°)     147.403
6        07:41:00    16:26:00  12:04 (11.5°)     147.381
7        07:42:00    16:25:00  12:04 (11.4°)     147.361
8        07:44:00    16:25:00  12:04 (11.3°)     147.342
9        07:45:00    16:25:00  12:05 (11.2°)     147.323
10       07:46:00    16:25:00  12:05 (11.1°)     147.305
11       07:47:00    16:25:00  12:06 (11.1°)     147.288
12       07:48:00    16:25:00  12:06 (11.0°)     147.272
13       07:49:00    16:25:00  12:07 (10.9°)     147.257
14       07:50:00    16:25:00  12:07 (10.9°)     147.243
15       07:51:00    16:25:00  12:08 (10.8°)      147.23
16       07:51:00    16:25:00  12:08 (10.8°)     147.217
17       07:52:00    16:25:00  12:09 (10.7°)     147.205
18       07:53:00    16:26:00  12:09 (10.7°)     147.194
19       07:53:00    16:26:00  12:10 (10.7°)     147.184
20       07:54:00    16:26:00  12:10 (10.7°)     147.174
21       07:55:00    16:27:00  12:11 (10.7°)     147.164
22       07:55:00    16:27:00  12:11 (10.7°)     147.156
23       07:55:00    16:28:00  12:12 (10.7°)     147.147
24       07:56:00    16:29:00  12:12 (10.7°)      147.14
25       07:56:00    16:29:00  12:13 (10.8°)     147.133
26       07:56:00    16:30:00  12:13 (10.8°)     147.126
27       07:56:00    16:31:00  12:14 (10.8°)      147.12
28       07:57:00    16:32:00  12:14 (10.9°)     147.115
29       07:57:00    16:33:00  12:15 (11.0°)      147.11
30       07:57:00    16:34:00  12:15 (11.0°)     147.106

#Fix the columns

df.columns = EDINBURGH_COLUMNS