In [2]:
import pandas as pd

In [3]:

df = pd.read_excel(r"data/Edinburgh-daytime.xlsx",sheet_name='1112', skiprows=3, header=None)
print(df)

    0               1               2         3      4         5         6   \
0    1  08:18 ↑ (130°)  15:44 ↑ (230°)  07:25:45  −2:37  06:00:00  18:02:00
1    2  08:20 ↑ (130°)  15:43 ↑ (230°)  07:23:13  −2:31  06:02:00  18:01:00
2    3  08:21 ↑ (130°)  15:42 ↑ (229°)  07:20:48  −2:25  06:03:00  18:01:00
3    4  08:23 ↑ (131°)  15:41 ↑ (229°)  07:18:29  −2:18  06:04:00  18:00:00
4    5  08:24 ↑ (131°)  15:41 ↑ (229°)  07:16:17  −2:12  06:05:00  18:00:00
5    6  08:26 ↑ (131°)  15:40 ↑ (229°)  07:14:11  −2:05  06:06:00  18:00:00
6    7  08:27 ↑ (132°)  15:40 ↑ (228°)  07:12:12  −1:58  06:07:00  17:59:00
7    8  08:29 ↑ (132°)  15:39 ↑ (228°)  07:10:20  −1:51  06:09:00  17:59:00
8    9  08:30 ↑ (132°)  15:39 ↑ (228°)  07:08:36  −1:44  06:10:00  17:59:00
9   10  08:31 ↑ (132°)  15:38 ↑ (228°)  07:06:58  −1:37  06:11:00  17:59:00
10  11  08:33 ↑ (133°)  15:38 ↑ (227°)  07:05:28  −1:30  06:12:00  17:59:00
11  12  08:34 ↑ (133°)  15:38 ↑ (227°)  07:04:05  −1:22  06:13:00  17:59:00
12  13  08:35 ↑ (133°)  15:38 ↑ (227°)  07:02:51  −1:14  06:13:00  17:59:00
13  14  08:36 ↑ (133°)  15:38 ↑ (227°)  07:01:43  −1:07  06:14:00  17:59:00
14  15  08:37 ↑ (133°)  15:38 ↑ (227°)  07:00:44  −0:59  06:15:00  17:59:00
15  16  08:38 ↑ (133°)  15:38 ↑ (227°)  06:59:53  −0:50  06:16:00  17:59:00
16  17  08:39 ↑ (133°)  15:38 ↑ (227°)  06:59:10  −0:43  06:17:00  18:00:00
17  18  08:39 ↑ (133°)  15:38 ↑ (227°)  06:58:35  −0:34  06:17:00  18:00:00
18  19  08:40 ↑ (133°)  15:38 ↑ (227°)  06:58:09  −0:26  06:18:00  18:00:00
19  20  08:41 ↑ (134°)  15:39 ↑ (226°)  06:57:50  −0:18  06:19:00  18:01:00
20  21  08:41 ↑ (134°)  15:39 ↑ (226°)  06:57:40  −0:10  06:19:00  18:01:00
21  22  08:42 ↑ (134°)  15:40 ↑ (226°)  06:57:38  −0:01  06:20:00  18:02:00
22  23  08:42 ↑ (134°)  15:40 ↑ (226°)  06:57:45  +0:06  06:20:00  18:02:00
23  24  08:43 ↑ (133°)  15:41 ↑ (227°)  06:58:00  +0:14  06:21:00  18:03:00
24  25  08:43 ↑ (133°)  15:41 ↑ (227°)  06:58:23  +0:23  06:21:00  18:03:00
25  26  08:43 ↑ (133°)  15:42 ↑ (227°)  06:58:54  +0:31  06:21:00  18:04:00
26  27  08:43 ↑ (133°)  15:43 ↑ (227°)  06:59:34  +0:39  06:22:00  18:05:00
27  28  08:44 ↑ (133°)  15:44 ↑ (227°)  07:00:22  +0:47  06:22:00  18:06:00
28  29  08:44 ↑ (133°)  15:45 ↑ (227°)  07:01:18  +0:55  06:22:00  18:06:00
29  30  08:44 ↑ (133°)  15:46 ↑ (227°)  07:02:21  +1:03  06:22:00  18:07:00
30  31  08:43 ↑ (133°)  15:47 ↑ (227°)  07:03:33  +1:11  06:22:00  18:08:00

          7         8         9         10             11       12
0   06:45:00  17:17:00  07:33:00  16:29:00  12:01 (12.3°)  147.520
1   06:46:00  17:16:00  07:34:00  16:28:00  12:02 (12.2°)  147.495
2   06:48:00  17:16:00  07:36:00  16:28:00  12:02 (12.0°)  147.471
3   06:49:00  17:15:00  07:37:00  16:27:00  12:02 (11.9°)  147.447
4   06:50:00  17:15:00  07:39:00  16:27:00  12:03 (11.8°)  147.425
5   06:52:00  17:14:00  07:40:00  16:26:00  12:03 (11.6°)  147.403
6   06:53:00  17:14:00  07:41:00  16:26:00  12:04 (11.5°)  147.381
7   06:54:00  17:14:00  07:42:00  16:25:00  12:04 (11.4°)  147.361
8   06:55:00  17:14:00  07:44:00  16:25:00  12:04 (11.3°)  147.342
9   06:56:00  17:14:00  07:45:00  16:25:00  12:05 (11.2°)  147.323
10  06:57:00  17:13:00  07:46:00  16:25:00  12:05 (11.1°)  147.305
11  06:58:00  17:13:00  07:47:00  16:25:00  12:06 (11.1°)  147.288
12  06:59:00  17:13:00  07:48:00  16:25:00  12:06 (11.0°)  147.272
13  07:00:00  17:14:00  07:49:00  16:25:00  12:07 (10.9°)  147.257
14  07:01:00  17:14:00  07:50:00  16:25:00  12:07 (10.9°)  147.243
15  07:02:00  17:14:00  07:51:00  16:25:00  12:08 (10.8°)  147.230
16  07:02:00  17:14:00  07:51:00  16:25:00  12:08 (10.8°)  147.217
17  07:03:00  17:14:00  07:52:00  16:25:00  12:09 (10.7°)  147.205
18  07:04:00  17:15:00  07:53:00  16:26:00  12:09 (10.7°)  147.194
19  07:04:00  17:15:00  07:53:00  16:26:00  12:10 (10.7°)  147.184
20  07:05:00  17:15:00  07:54:00  16:26:00  12:10 (10.7°)  147.174
21  07:05:00  17:16:00  07:55:00  16:27:00  12:11 (10.7°)  147.164
22  07:06:00  17:17:00  07:55:00  16:27:00  12:11 (10.7°)  147.156
23  07:06:00  17:17:00  07:55:00  16:28:00  12:12 (10.7°)  147.147
24  07:07:00  17:18:00  07:56:00  16:29:00  12:12 (10.7°)  147.140
25  07:07:00  17:19:00  07:56:00  16:29:00  12:13 (10.8°)  147.133
26  07:07:00  17:19:00  07:56:00  16:30:00  12:13 (10.8°)  147.126
27  07:07:00  17:20:00  07:56:00  16:31:00  12:14 (10.8°)  147.120
28  07:08:00  17:21:00  07:57:00  16:32:00  12:14 (10.9°)  147.115
29  07:08:00  17:22:00  07:57:00  16:33:00  12:15 (11.0°)  147.110
30  07:08:00  17:23:00  07:57:00  16:34:00  12:15 (11.0°)  147.106

In [4]:
#for future use, to automate the pipeline and consider other sheets we would take the year and month from the sheet names. 
#However, as we are focusing on one sheet only for now, we will hard code it. 

year = 2011
month = 12

print(year)
print(month)

2011
12

In [5]:
#Dictionary assigned to a variable called Edinburgh
EDINBURGH_COLUMNS = {
    'date':pd.Timestamp,
    'sunrise': str,
    'sunset': str,
    'daylength': str,
    'day_length_diff': str,
    'astro_twilight_start': str,
    'astro_twilight_end': str,
    'nautical_twilight_start': str,
    'nautical_twilight_end': str,
    'civil_twilight_start': str,
    'civil_twilight_end': str,
    'solar_noon_time': str,
    'solar_noon_distance':float
}

In [6]:
#Let's reset the index - dropping the second header row, as it's not needed
#Now the row count starts from the actual data

#df = df.drop([0, 1], ).reset_index(drop=True)
#print(df)

In [7]:
#Fix the columns

#df.columns = list(EDINBURGH_COLUMNS.keys())
df.columns = list(EDINBURGH_COLUMNS)
print(df.head())

   date         sunrise          sunset daylength day_length_diff  \
0     1  08:18 ↑ (130°)  15:44 ↑ (230°)  07:25:45           −2:37
1     2  08:20 ↑ (130°)  15:43 ↑ (230°)  07:23:13           −2:31
2     3  08:21 ↑ (130°)  15:42 ↑ (229°)  07:20:48           −2:25
3     4  08:23 ↑ (131°)  15:41 ↑ (229°)  07:18:29           −2:18
4     5  08:24 ↑ (131°)  15:41 ↑ (229°)  07:16:17           −2:12

  astro_twilight_start astro_twilight_end nautical_twilight_start  \
0             06:00:00           18:02:00                06:45:00
1             06:02:00           18:01:00                06:46:00
2             06:03:00           18:01:00                06:48:00
3             06:04:00           18:00:00                06:49:00
4             06:05:00           18:00:00                06:50:00

  nautical_twilight_end civil_twilight_start civil_twilight_end  \
0              17:17:00             07:33:00           16:29:00
1              17:16:00             07:34:00           16:28:00
2              17:16:00             07:36:00           16:28:00
3              17:15:00             07:37:00           16:27:00
4              17:15:00             07:39:00           16:27:00

  solar_noon_time  solar_noon_distance
0   12:01 (12.3°)              147.520
1   12:02 (12.2°)              147.495
2   12:02 (12.0°)              147.471
3   12:02 (11.9°)              147.447
4   12:03 (11.8°)              147.425

EDINBURGH FILE - DAYTIME DATA

In [8]:
df_clean = df[['date','sunrise','sunset','daylength','solar_noon_time']]
print(df_clean.head())

df_clean.to_csv("data/clean_daytime_data.csv", index=False)

   date         sunrise          sunset daylength solar_noon_time
0     1  08:18 ↑ (130°)  15:44 ↑ (230°)  07:25:45   12:01 (12.3°)
1     2  08:20 ↑ (130°)  15:43 ↑ (230°)  07:23:13   12:02 (12.2°)
2     3  08:21 ↑ (130°)  15:42 ↑ (229°)  07:20:48   12:02 (12.0°)
3     4  08:23 ↑ (131°)  15:41 ↑ (229°)  07:18:29   12:02 (11.9°)
4     5  08:24 ↑ (131°)  15:41 ↑ (229°)  07:16:17   12:03 (11.8°)

In [9]:
#read the new csv file. 
df_ED = pd.read_csv(r"data/clean_daytime_data.csv")

df_ED.head()

   date         sunrise          sunset daylength solar_noon_time
0     1  08:18 ↑ (130°)  15:44 ↑ (230°)  07:25:45   12:01 (12.3°)
1     2  08:20 ↑ (130°)  15:43 ↑ (230°)  07:23:13   12:02 (12.2°)
2     3  08:21 ↑ (130°)  15:42 ↑ (229°)  07:20:48   12:02 (12.0°)
3     4  08:23 ↑ (131°)  15:41 ↑ (229°)  07:18:29   12:02 (11.9°)
4     5  08:24 ↑ (131°)  15:41 ↑ (229°)  07:16:17   12:03 (11.8°)

In [10]:
#Quick test for one column
#df['sunrise'] = df['sunrise'].str[:5] 
#print(df['sunrise'] )

In [11]:
#remove extra, unnecesary information

for col in ['sunrise', 'sunset', 'solar_noon_time']:
            df_ED[col] = df_ED[col].str[:5]

In [12]:
df_ED.head()

   date sunrise sunset daylength solar_noon_time
0     1   08:18  15:44  07:25:45           12:01
1     2   08:20  15:43  07:23:13           12:02
2     3   08:21  15:42  07:20:48           12:02
3     4   08:23  15:41  07:18:29           12:02
4     5   08:24  15:41  07:16:17           12:03

In [13]:
#Add date values - We know that this file is for December 2011
import datetime

df_ED['date'] = pd.to_datetime(df_ED['date'].apply(lambda x: datetime.date(year, month, x))) 
print(df_ED['date'])

0    2011-12-01
1    2011-12-02
2    2011-12-03
3    2011-12-04
4    2011-12-05
5    2011-12-06
6    2011-12-07
7    2011-12-08
8    2011-12-09
9    2011-12-10
10   2011-12-11
11   2011-12-12
12   2011-12-13
13   2011-12-14
14   2011-12-15
15   2011-12-16
16   2011-12-17
17   2011-12-18
18   2011-12-19
19   2011-12-20
20   2011-12-21
21   2011-12-22
22   2011-12-23
23   2011-12-24
24   2011-12-25
25   2011-12-26
26   2011-12-27
27   2011-12-28
28   2011-12-29
29   2011-12-30
30   2011-12-31
Name: date, dtype: datetime64[ns]

Remove empty rows is key cleaning step, but we are not doing this as we have selected a sheet without them and we wouldn't be able to test this.

Strathspey - WEATHER DATA

In [14]:
df = pd.read_excel(r"data/Strathspey-weather.xlsx",sheet_name='1112', skiprows=6, header=None)
print(df)

    0    1      2     3      4     5     6      7   8    9     10
0    1  3.6   -0.4   4.6      0   995  1004    4.1  36  SSW  2.70
1    2  2.6   -1.5   7.5    5.5  1003   983    6.5  36  SSW  1.80
2    3  2.4    0.4   4.4  6.0 s   986   988    9.5  46  SSW  0.75
3    4 -1.6   -0.9   0.4  3.7 s   988   992    4.5  22  SSW  1.66
4    5 -1.6   -4.2   0.2  2.9 s   994   998    2.8  17  SSW  1.08
5    6 -2.7   -2.8   1.2  5.1 s   998   992    3,7  19  WSW  2.92
6    7  0.2   -5.3   3.8  8.6 s   989  1005    6.1  39  SSW  0.15
7    8  2.4   -0.8   6.7   14.6   979   981  15.9   62  SSW  0.72
8    9 -0.8    0.9   1.4  2.6 s  1000  1007    6.7  34  WSW  0.75
9   10 -3.2     -8   3.5  0.5 s  1008  1001      1  10  SSE  1.46
10  11  0.1   -6.2   3.6      0   996   992      2  15  SSW  2.08
11  12  0.8     -3   5.1    0.2   991   972    8.1  41  SSW  3.65
12  13  1.9  -0.1    4.5    6.9   964   960   12.2  41  SSW  2.39
13  14  2.8   -0.1   5.7    0.1   972   982   10.8  31  SSW  4.44
14  15 -1.3    1.2   2.5      0   989   991    2.2  14  SSW  4.80
15  16 -4.9   -8.3  -0.4  0.9 s   989  1000    0.1   5  NNE  0.00
16  17 -3.0   -8.4   0.5  2.3 s  1006  1012    1.2  13    S  0.97
17  18 -4.4   -7.9  -0.3  0.3 s  1015  1014    0.3   7    S  0.85
18  19 -3.2   -8.9   3.9      4  1007  1002    2.3  22  SSW  0.00
19  20  0.2   -4.2   2.2    4.3  1010  1011    3.8  22  SSW  0.04
20  21  4.8    0.1  10.5    1.3  1010  1008    5.8  31  SSW  0.03
21  22  9.0    1.1  10.5    0.3  1012  1004     11  32  SSW  0.00
22  23  4.2    0.2   4.4      0  1007  1014    6.3  33  SSW  3.49
23  24  3.4   -0.1  10.8    0.6  1011  1007     10  34  SSW  1.26
24  25  7.9    4.1  12.6    0.5  1001  1008   14.3  56  SSW  1.39
25  26  8.0    8.6  13.1    1.1  1008  1014   14.8  50  SSW  0.01
26  27  2.3   -2.1   8.7   2.1   1027  1011    4.5  33  SSE  0.00
27  28  3.8   -1.4   6.5    9.1   990  1003   14.5  45  SSW  0.11
28  29  0.6    0.6   2.9    4.1  1003  1008    8.9  28  WSW  1.32
29  30  0.1   -2.5   7.1    8.2  1013   999    2.6  23    S   NaN
30  31  5.7     -2  10.0      4   997   988    7.3  28  SSW   NaN

In [15]:
STRATHSPEY_COLUMNS = {
    'date':pd.Timestamp,
    'temp_mean': str,
    'temp_min': str,
    'temp_max': str,
    'rain_mm': str,
    'pressure_early': int,
    'pressure_late': int,
    'wind_mean':float,
    'wind_max':float,
    'wind_dir':str,
    'sun_hours': float
}

In [16]:
#rename columns

df.columns = list(STRATHSPEY_COLUMNS)
print(df.head())

   date  temp_mean temp_min  temp_max rain_mm  pressure_early  pressure_late  \
0     1        3.6     -0.4       4.6       0             995           1004
1     2        2.6     -1.5       7.5     5.5            1003            983
2     3        2.4      0.4       4.4   6.0 s             986            988
3     4       -1.6     -0.9       0.4   3.7 s             988            992
4     5       -1.6     -4.2       0.2   2.9 s             994            998

  wind_mean  wind_max wind_dir  sun_hours
0       4.1        36      SSW       2.70
1       6.5        36      SSW       1.80
2       9.5        46      SSW       0.75
3       4.5        22      SSW       1.66
4       2.8        17      SSW       1.08

In [17]:
#select columns to keep 

columns_to_keep = ['date', 'temp_mean', 'temp_min', 'temp_max']

df_clean = df[columns_to_keep]

# Save to new CSV
df_clean.to_csv("data/clean_temperature_data.csv", index=False)

In [18]:
#read new, clean csv file

df_ST = pd.read_csv(r"data/clean_temperature_data.csv", encoding = 'utf-8')
print(df_ST)

    date  temp_mean temp_min  temp_max
0      1        3.6     -0.4       4.6
1      2        2.6     -1.5       7.5
2      3        2.4      0.4       4.4
3      4       -1.6     -0.9       0.4
4      5       -1.6     -4.2       0.2
5      6       -2.7     -2.8       1.2
6      7        0.2     -5.3       3.8
7      8        2.4     -0.8       6.7
8      9       -0.8      0.9       1.4
9     10       -3.2       -8       3.5
10    11        0.1     -6.2       3.6
11    12        0.8       -3       5.1
12    13        1.9    -0.1        4.5
13    14        2.8     -0.1       5.7
14    15       -1.3      1.2       2.5
15    16       -4.9     -8.3      -0.4
16    17       -3.0     -8.4       0.5
17    18       -4.4     -7.9      -0.3
18    19       -3.2     -8.9       3.9
19    20        0.2     -4.2       2.2
20    21        4.8      0.1      10.5
21    22        9.0      1.1      10.5
22    23        4.2      0.2       4.4
23    24        3.4     -0.1      10.8
24    25        7.9      4.1      12.6
25    26        8.0      8.6      13.1
26    27        2.3     -2.1       8.7
27    28        3.8     -1.4       6.5
28    29        0.6      0.6       2.9
29    30        0.1     -2.5       7.1
30    31        5.7       -2      10.0

In [19]:
print(df_ST.dtypes)

date           int64
temp_mean    float64
temp_min      object
temp_max     float64
dtype: object

In [20]:
df_ST['temp_min']  = df_ST['temp_min'] .astype(str).str.replace(r"\s+", "", regex=True).astype(float)

print(df_ST)

    date  temp_mean  temp_min  temp_max
0      1        3.6      -0.4       4.6
1      2        2.6      -1.5       7.5
2      3        2.4       0.4       4.4
3      4       -1.6      -0.9       0.4
4      5       -1.6      -4.2       0.2
5      6       -2.7      -2.8       1.2
6      7        0.2      -5.3       3.8
7      8        2.4      -0.8       6.7
8      9       -0.8       0.9       1.4
9     10       -3.2      -8.0       3.5
10    11        0.1      -6.2       3.6
11    12        0.8      -3.0       5.1
12    13        1.9      -0.1       4.5
13    14        2.8      -0.1       5.7
14    15       -1.3       1.2       2.5
15    16       -4.9      -8.3      -0.4
16    17       -3.0      -8.4       0.5
17    18       -4.4      -7.9      -0.3
18    19       -3.2      -8.9       3.9
19    20        0.2      -4.2       2.2
20    21        4.8       0.1      10.5
21    22        9.0       1.1      10.5
22    23        4.2       0.2       4.4
23    24        3.4      -0.1      10.8
24    25        7.9       4.1      12.6
25    26        8.0       8.6      13.1
26    27        2.3      -2.1       8.7
27    28        3.8      -1.4       6.5
28    29        0.6       0.6       2.9
29    30        0.1      -2.5       7.1
30    31        5.7      -2.0      10.0

In [21]:
print(df_ST.dtypes)

date           int64
temp_mean    float64
temp_min     float64
temp_max     float64
dtype: object

In [22]:
print(df_ST)

    date  temp_mean  temp_min  temp_max
0      1        3.6      -0.4       4.6
1      2        2.6      -1.5       7.5
2      3        2.4       0.4       4.4
3      4       -1.6      -0.9       0.4
4      5       -1.6      -4.2       0.2
5      6       -2.7      -2.8       1.2
6      7        0.2      -5.3       3.8
7      8        2.4      -0.8       6.7
8      9       -0.8       0.9       1.4
9     10       -3.2      -8.0       3.5
10    11        0.1      -6.2       3.6
11    12        0.8      -3.0       5.1
12    13        1.9      -0.1       4.5
13    14        2.8      -0.1       5.7
14    15       -1.3       1.2       2.5
15    16       -4.9      -8.3      -0.4
16    17       -3.0      -8.4       0.5
17    18       -4.4      -7.9      -0.3
18    19       -3.2      -8.9       3.9
19    20        0.2      -4.2       2.2
20    21        4.8       0.1      10.5
21    22        9.0       1.1      10.5
22    23        4.2       0.2       4.4
23    24        3.4      -0.1      10.8
24    25        7.9       4.1      12.6
25    26        8.0       8.6      13.1
26    27        2.3      -2.1       8.7
27    28        3.8      -1.4       6.5
28    29        0.6       0.6       2.9
29    30        0.1      -2.5       7.1
30    31        5.7      -2.0      10.0

In [23]:
#Add date values
df_ST['date'] = pd.to_datetime(df_ST['date'].apply(lambda x: datetime.date(year, month, x))) 

#print(df['date'])

print(df_ST)

         date  temp_mean  temp_min  temp_max
0  2011-12-01        3.6      -0.4       4.6
1  2011-12-02        2.6      -1.5       7.5
2  2011-12-03        2.4       0.4       4.4
3  2011-12-04       -1.6      -0.9       0.4
4  2011-12-05       -1.6      -4.2       0.2
5  2011-12-06       -2.7      -2.8       1.2
6  2011-12-07        0.2      -5.3       3.8
7  2011-12-08        2.4      -0.8       6.7
8  2011-12-09       -0.8       0.9       1.4
9  2011-12-10       -3.2      -8.0       3.5
10 2011-12-11        0.1      -6.2       3.6
11 2011-12-12        0.8      -3.0       5.1
12 2011-12-13        1.9      -0.1       4.5
13 2011-12-14        2.8      -0.1       5.7
14 2011-12-15       -1.3       1.2       2.5
15 2011-12-16       -4.9      -8.3      -0.4
16 2011-12-17       -3.0      -8.4       0.5
17 2011-12-18       -4.4      -7.9      -0.3
18 2011-12-19       -3.2      -8.9       3.9
19 2011-12-20        0.2      -4.2       2.2
20 2011-12-21        4.8       0.1      10.5
21 2011-12-22        9.0       1.1      10.5
22 2011-12-23        4.2       0.2       4.4
23 2011-12-24        3.4      -0.1      10.8
24 2011-12-25        7.9       4.1      12.6
25 2011-12-26        8.0       8.6      13.1
26 2011-12-27        2.3      -2.1       8.7
27 2011-12-28        3.8      -1.4       6.5
28 2011-12-29        0.6       0.6       2.9
29 2011-12-30        0.1      -2.5       7.1
30 2011-12-31        5.7      -2.0      10.0

MERGE BOTH DATA FRAMES

In [24]:
merged = pd.merge(df_ED, df_ST, on="date", how="inner") 

print(merged)

         date sunrise sunset daylength solar_noon_time  temp_mean  temp_min  \
0  2011-12-01   08:18  15:44  07:25:45           12:01        3.6      -0.4
1  2011-12-02   08:20  15:43  07:23:13           12:02        2.6      -1.5
2  2011-12-03   08:21  15:42  07:20:48           12:02        2.4       0.4
3  2011-12-04   08:23  15:41  07:18:29           12:02       -1.6      -0.9
4  2011-12-05   08:24  15:41  07:16:17           12:03       -1.6      -4.2
5  2011-12-06   08:26  15:40  07:14:11           12:03       -2.7      -2.8
6  2011-12-07   08:27  15:40  07:12:12           12:04        0.2      -5.3
7  2011-12-08   08:29  15:39  07:10:20           12:04        2.4      -0.8
8  2011-12-09   08:30  15:39  07:08:36           12:04       -0.8       0.9
9  2011-12-10   08:31  15:38  07:06:58           12:05       -3.2      -8.0
10 2011-12-11   08:33  15:38  07:05:28           12:05        0.1      -6.2
11 2011-12-12   08:34  15:38  07:04:05           12:06        0.8      -3.0
12 2011-12-13   08:35  15:38  07:02:51           12:06        1.9      -0.1
13 2011-12-14   08:36  15:38  07:01:43           12:07        2.8      -0.1
14 2011-12-15   08:37  15:38  07:00:44           12:07       -1.3       1.2
15 2011-12-16   08:38  15:38  06:59:53           12:08       -4.9      -8.3
16 2011-12-17   08:39  15:38  06:59:10           12:08       -3.0      -8.4
17 2011-12-18   08:39  15:38  06:58:35           12:09       -4.4      -7.9
18 2011-12-19   08:40  15:38  06:58:09           12:09       -3.2      -8.9
19 2011-12-20   08:41  15:39  06:57:50           12:10        0.2      -4.2
20 2011-12-21   08:41  15:39  06:57:40           12:10        4.8       0.1
21 2011-12-22   08:42  15:40  06:57:38           12:11        9.0       1.1
22 2011-12-23   08:42  15:40  06:57:45           12:11        4.2       0.2
23 2011-12-24   08:43  15:41  06:58:00           12:12        3.4      -0.1
24 2011-12-25   08:43  15:41  06:58:23           12:12        7.9       4.1
25 2011-12-26   08:43  15:42  06:58:54           12:13        8.0       8.6
26 2011-12-27   08:43  15:43  06:59:34           12:13        2.3      -2.1
27 2011-12-28   08:44  15:44  07:00:22           12:14        3.8      -1.4
28 2011-12-29   08:44  15:45  07:01:18           12:14        0.6       0.6
29 2011-12-30   08:44  15:46  07:02:21           12:15        0.1      -2.5
30 2011-12-31   08:43  15:47  07:03:33           12:15        5.7      -2.0

    temp_max
0        4.6
1        7.5
2        4.4
3        0.4
4        0.2
5        1.2
6        3.8
7        6.7
8        1.4
9        3.5
10       3.6
11       5.1
12       4.5
13       5.7
14       2.5
15      -0.4
16       0.5
17      -0.3
18       3.9
19       2.2
20      10.5
21      10.5
22       4.4
23      10.8
24      12.6
25      13.1
26       8.7
27       6.5
28       2.9
29       7.1
30      10.0

In [25]:
#Save merge dataset to a new csv file
merged.to_csv("output/merged.csv", index=False)

DATA VALIDATIONS
- row count
- duplicate dates
- missing values when merging

In [ ]:

#Test - file count validation. Checking that row counts of all three files match each other. 

df_merged = pd.read_csv("output/merged.csv")

assert len(df_ED) == len(df_ST), (
    f"Input row mismatch: file1 has {len(df_ED)}, file2 has {len(df_ST)}"
)

assert len(df_merged) == len(df_ED), (
    f"Merged row mismatch: expected {len(df_ED)}, got {len(df_merged)}"
)

print("✓ Row count test passed")

✓ Row count test passed